@keyframes moveUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  .card {
    transition: transform 0.5s ease-in-out;
  }
  
  .card:hover {
    animation: moveUp 0.5s ease-in-out forwards;
  }
  